*{
    padding:0;
    margin:0;
    font-size: border-box;
}

html , body , #root  {
    height: 100vh;
}

#layout-header a{
    text-decoration: none;
    color: #F2E2CE;
    margin-left: 1rem;
}

#root {
    display: flex;
    flex-direction: column;
}

#layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #031626;
    box-shadow: 0 2px 4px rgba(0, 0,0, 0); 
}

main{
flex-grow: 1;
padding: 1rem;
background-color: #D9BBA0;
}

footer{
    padding: 0.5rem;
    background-color: #031626;
    color: #F2E2CE;
    text-align: center;
    font-size: 0.8rem;

}

nav{
    display: flex;
    align-items: center;
}

.header__title{
    color: #F2E2CE;
}
.material-icons{
    color:#F2E2CE;
}
.contenido__main{
    color: #594432;
    justify-content: center;

}
.productos{
display : flex;

}
#tarjeta{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #F2E2CE;
    display:flex;
    flex-direction: column;
    text-align: center;
}





