*{
    padding:0;
    margin:0;
    font-size: border-box;
}

html , body , #root  {
    height: 100vh;
}

#layout-header a{
    text-decoration: none;
    color: #F2F2F2;
    margin-left: 1rem;
}

#root {
    display: flex;
    flex-direction: column;
}

#layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #437399;
    box-shadow: 0 2px 4px rgba(0, 0,0, 0); 
}

main{
flex-grow: 1;
padding: 1rem;
background-color:#F2F2F2;
}

footer{
    padding: 0.5rem;
    background-color: #437399;
    color: #F2F2F2;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Fjalla One', sans-serif;

}

nav{
    display: flex;
    align-items: center;
}

.header__title{
    color: #F2F2F2;
}
.material-icons{
    color:#F2F2F2;
}
.contenido__main{
    color:#437399;
font-family: 'Fjalla One', sans-serif;

}
.header__title{
    font-family: 'Fjalla One', sans-serif;
}
.nav__link{
    font-family: 'Fjalla One', sans-serif;
}
.productos{
display : flex;

}
article{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #437399;
    color:#F2F2F2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}
#tarjeta{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: #F2E2CE;
    display:flex;
    flex-direction: column;
    text-align: center;
}





