*{
    padding:0;
    margin:0;
    font-size: border-box;
}

html , body , #root  {
    height: 100vh;
}

#layout-header a{
    text-decoration: none;
    color: #594432;
    margin-left: 1rem;
}

#root {
    display: flex;
    flex-direction: column;
}

#layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #EAD3CB;
    box-shadow: 0 2px 4px rgba(0, 0,0, 0); 
}

main{
flex-grow: 1;
padding: 1rem;
}

footer{
    padding: 0.5rem;
    background-color: #EAD3CB;
    text-align: center;
    font-size: 0.8rem;

}

nav{
    display: flex;
    align-items: center;
}

.header__title{
    color: #594432;
}

.contenido__main{
    color: #594432;
    justify-content: center;

}

